.newswebsite{
	justify-content:center;
	display:flex;
}

.title_bar{
	font-family: "Raleway", sans-serif;
	text-align:center;
	color: #080808;
}

.newselement{
	padding:25px;
	border:3px solid black;
	width:500px;
	margin-top:10px;
	margin-bottom:20px;
	text-wrap:normal;
	
}

.newsimage{
	justify-content:center;
	width:500px;
}
